* {
  box-sizing: border-box;
}

body{
  background-color: #E5E5E5;
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
}

input:focus{
  box-shadow: 0 0 0 0;
  outline: 0;
}

header {
  width: 100%;
  height: 69px;
  padding: 0 18px;
  background-color: #EC362D;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FFFFFF;
  font-size: 37px;
  font-weight: 700;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  z-index: 1;
  position: sticky;
  top: 0;
}

main{
  width: 100%;
  display: flex;
  justify-content: center;
  overflow-x: hidden;
}

.center{
  width: 1100px;
}

.yourQuizzes-title {
  width: 100%;
  height: 40px ;
  display: flex;
  align-items: center;
  margin-top: 30px;
  padding: 0 20px;
}

.yourQuizzes-title strong, .allQuizzes-title strong{
  color: #000000;
  font-size: 20px;
  font-weight: 700;
}

.yourQuizzes-title ion-icon{
  color: #EC362D;
  font-size: 30px;
  margin-left: 10px;
}

.yourQuizzes-title ion-icon:hover{
  cursor: pointer;
}

.allQuizzes-title {
  margin-top: 15px;
  width: 100%;
  height: 40px ;
  display: flex;
  align-items: center;
  padding: 0 20px;
}

.yourQuizzes, .allQuizzes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.allQuizzes .quiz{
  width: 340px;
  height: 181px;
}

.quiz{
  border-radius: 5px;
  width: 340px;
  height: 181px;
  background-repeat: no-repeat;
  background-size: cover; 
  background-position: center;
  margin: 0 10px;
  margin-bottom: 20px
}

.quiz div{
  width: 310px;
  height: 54px;
  display: flex;
  margin-left: 15px;
  margin-top: 130px;
  font-size: 19px;
  font-weight: 400;
  line-height: 22px;
  color: #FFFFFF;
  overflow-x: hidden;
  flex-wrap: wrap;
}

.quiz div:hover{
  cursor: pointer;
}

.answeringQuiz{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 100px;
}

.answeringQuiz .header{
  width: 100%;
  height: 142px;
  margin-bottom: 24px;
  font-size: 19px;
  line-height: 22px;
  color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: center;

  background-repeat: no-repeat;
  background-size: cover; 
  background-position: center;
}

.answeringQuiz .question, .answeringQuiz .score{
  width: 375px;
  display: flex;
  flex-wrap: wrap;
  background-color: #FFFFFF;
  padding: 16px;
  margin-bottom: 26px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
}

.answeringQuiz .title{
  width: 100%;
  height: 89px;
  color: #FFFFFF;
  font-size: 19px;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 18px;
  padding: 0 16px;
  overflow-x: hidden;
}

.answeringQuiz .answers{
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.answeringQuiz .answer{
  display: flex;
  flex-direction: column; 
}

.answeringQuiz .answer:hover{
  cursor: pointer;
}

.answeringQuiz .correct{
  color: #009C22;
}

.answeringQuiz .incorrect{
  color: #FF4B4B;
}

.answeringQuiz .not-marked{
  opacity: 0.3;
}

.answeringQuiz img{
  width: 163px;
  height: 113px;
}

.answeringQuiz strong{
  width: 163px;
  font-size: 13px;
  font-weight: 700;
  color: #000000;
  margin-top: 8px;
  margin-bottom: 12px;
  overflow-x: hidden;
}

.answeringQuiz .score .title{
  height: 99px;
  background-color: #EC362D;
  overflow-x: hidden;
}

.answeringQuiz .score img{
  width: 340px;
  height: 255px;
  background-color: #EC362D;
}

.answeringQuiz .score strong{
  width: 340px;
  font-size: 17px;
  font-weight: 700;
  color: #484848;
  margin: 15px 0;
  line-height: 20px;
  overflow-x: hidden;
}

.answeringQuiz .restart-quizz, .answeringQuiz .return-home{
  width: 220.32px;
  height: 44px;
  border: none;
  border-radius: 15px;
  font-size: 18px;
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: center;
}

.answeringQuiz .restart-quizz{
  background-color: #EC362D;
  margin-bottom: 8px;
  color: #FFF5F4;
}

.answeringQuiz .return-home{
  color: #818181;
}

.answeringQuiz .restart-quizz:hover, .answeringQuiz .return-home:hover{
  cursor: pointer;
}

/*-- CRIAR QUIZ --*/
.box-create-quizz {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
  margin-right: 20px;
  width: 100%;
  height: 181px;
  border: 1px dashed #D5D5D5;
  border-radius: 5px;
  margin-top: 20px;
  padding: 0 20px;
}

.box-create-quizz p {
  color:#B9B9B9;
  font-weight: 400;
  font-size: 20px;
  margin: 0px 10px;
}

.box-create-quizz button {
  border: 1px dashed #EC362D;
  border-radius: 50px;
  background-color: #E5E5E5;
  font-weight: 400;
  font-size: 21px;
  color:#EC362D;
  padding:10px;
  margin-top: 20px;
}

/*-- Tela 3 --*/
  /*-- Criando Quizz --*/
  .creatingQuiz, .creatingQuiz div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .creatingQuiz div {
    background-color:#FFFFFF ;
    width: 100%;
    padding: 20px;
  }

  .creatingQuiz h1 {
    font-weight: 700;
    color: #000000;
    font-size: 20px;
    padding: 37px 0px;
  }

  input {
    width: 100%;
    height: 46px;
    margin-bottom: 9px;
    background-color: #FFFFFF;
    border: 1px solid #D1D1D1;
    border-radius: 5px;
    font-size: 19px;
    font-style: italic;
  }

  input::placeholder {
    color: #BABABA;
  }

  .creatingQuiz button {
    background-color: #EC362D;
    height: 54px;
    border: none;
    border-radius: 15px;
    color: #FFF5F4;
    font-size: 18px;
    font-weight: 400;
    margin-top: 29px;
    padding: 0px 40px;
  }

  /*-- Criando Questão --*/
  .creating-question { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .creating-question h2{
    font-weight: 700;
    color: #000000;
    font-size: 20px;
    padding: 20px 0px;
  }

  .top-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .another-question {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    margin-top: 24px;
    padding: 10px;
  }

  .another-question ion-icon {
    font-size: 26px;
  }

  .another-question ion-icon.hide {
    display: none;
  }

  .creating-question button {
    background-color: #EC362D;
    height: 54px;
    border: none;
    border-radius: 15px;
    color: #FFF5F4;
    font-size: 18px;
    font-weight: 400;
    margin-top: 29px;
    margin-bottom:29px;
    padding: 0px 40px;
  }

  .wrong-question {
    margin-bottom:20px;
  }

  /*-- CRIANDO NÍVEIS --*/
  .creating-levels {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .creating-levels h2 {
    font-weight: 700;
    color: #000000;
    font-size: 20px;
    padding: 20px 0px;
  }

  .creating-levels .level {
    width: 100%;
  }

  .another-level {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #FFFFFF;
    margin-top: 24px;
    padding: 10px 20px;
  }

  .white {
    background-color: #FFFFFF;
    padding: 0px 20px;
    padding-bottom:10px ;
  }

  .another-level ion-icon {
    font-size: 26px;
  }

  .creating-levels button {
    background-color: #EC362D;
    height: 54px;
    border: none;
    border-radius: 15px;
    color: #FFF5F4;
    font-size: 18px;
    font-weight: 400;
    margin-top: 29px;
    margin-bottom:29px;
    padding: 0px 40px;
  }

  /*-- SUCESSO DO QUIZZ --*/
  .sucess-quizz {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .sucess-quizz h2 {
    font-weight: 700;
    color: #000000;
    font-size: 20px;
    padding: 20px 0px;
  }

  .sucess-quizz .button {
    display: flex;
    align-items: center;
    background-color: #EC362D;
    height: 54px;
    border: none;
    border-radius: 15px;
    color: #FFF5F4;
    font-size: 18px;
    font-weight: 400;
    margin-top: 29px;
    margin-bottom:29px;
    padding: 0px 40px;
  }

/*-- Escondido --*/
.hide {
  display: none;
  }

.bigger {
  word-wrap: break-word;
  height: 200px;
}

/*-- --*/
.b {
  left: 18px;
  flex-wrap: wrap;
  overflow-x: hidden;
}

.hidden{
  display: none;
}

@media (min-width: 600px) {
  .yourQuizzes-title {
    margin-top: 40px;
  }
  .allQuizzes-title {
    margin-top: 30px;
  }
  .answeringQuiz .header{
    height: 227px;
    font-size: 39px;
  }
  .answeringQuiz .question, .answeringQuiz .score{
    width: 769px;
    padding: 37px;
  }
  .answeringQuiz .title{
    height: 138px;
    font-size: 23px;
  }
  .answeringQuiz img{
    width: 332px;
    height: 175px;
  } 
  .answeringQuiz strong{
    width: 175px;
    font-size: 20px;
  }
  .answeringQuiz .score .title{
    height: 99px;
  }
  
  .answeringQuiz .score img{
    width: 364px;
    height: 273px;
  } 
  .answeringQuiz .score strong{
    width: 328px;
    font-size: 19px;
    padding: 0 10px;
    word-wrap: break-word;
  }
  .answeringQuiz .restart-quizz, .answeringQuiz .return-home{
    width: 260px;
    height: 52px;
    font-size: 21px;
  }
  .box-create-quizz {
    margin-top: 80px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 60px;
    padding: 0 20px;
  }
  .quiz{
    margin: 0 10px;
    margin-bottom: 20px;
  }

  .creatingQuiz {
    width: 600px;
  }

  body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .creating-question {
    width: 600px;
  }

  .creating-levels {
    width: 600px;
  }
}
